.calculator {
  border: solid grey;
  width: 270px;
  margin: 0 auto;
}
.regular_button {
  width: 60px;
  height: 60px;
  margin: 2px;
  box-shadow: 0 2px 0 grey;
}
.regular_button_result {
  width: 60px;
  height: 60px;
  margin: 2px;
  box-shadow: 0 2px 0 grey;
}
.input_text {
  font-size: 24px;
  text-align:right;
  width: 261px;
  height: 60px;
  margin: 2px;
}
.big_save_button {
  width: 196px;
  height: 60px;
  margin: 2px;
  box-shadow: 0 2px 0 grey;
}
.regular_button_cancel {
  width: 60px;
  height: 60px;
  margin: 2px;
  box-shadow: 0 2px 0 grey;
}